<h2 class="visibility-hidden">{{ help_center.name }}</h2>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="cx2022-blocks-list">
        {{#if settings.launch_page}}
          <!-- Brand -->
          {{#if settings.menu_link_1}}
            <li class="cx2022-blocks-item brand_block_1 block_left">
              <a href='{{settings.menu_link_1}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_1}}</span>
              </a>
            </li>
          {{/if}}
          
          {{#if settings.menu_link_2}}
            <li class="cx2022-blocks-item brand_block_2 block_left">
              <a href='{{settings.menu_link_2}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_2}}</span>
              </a>
            </li>
          {{/if}}

          {{#if settings.menu_link_3}}
            <li class="cx2022-blocks-item brand_block_3 block_left">
              <a href='{{settings.menu_link_3}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_3}}</span>
              </a>
            </li>
          {{/if}}
          
          {{#if settings.menu_link_4}}
            <li class="cx2022-blocks-item brand_block_4 block_left">
              <a href='{{settings.menu_link_4}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_4}}</span>
              </a>
            </li>
          {{/if}}

          {{#if settings.menu_link_5}}
            <li class="cx2022-blocks-item brand_block_5 block_left">
              <a href='{{settings.menu_link_5}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_5}}</span>
              </a>
            </li>
          {{/if}}
          
          {{#if settings.menu_link_6}}
            <li class="cx2022-blocks-item brand_block_6 block_left">
              <a href='{{settings.menu_link_6}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_6}}</span>
              </a>
            </li>
          {{/if}}

          {{#if settings.menu_link_7}}
            <li class="cx2022-blocks-item brand_block_7 block_left">
              <a href='{{settings.menu_link_7}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_7}}</span>
              </a>
            </li>
          {{/if}}
          
          {{#if settings.menu_link_8}}
            <li class="cx2022-blocks-item brand_block_8 block_left">
              <a href='{{settings.menu_link_8}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">{{settings.menu_title_8}}</span>
              </a>
            </li>
          {{/if}}
        {{else}}
          <!-- FAQ Entry -->
          {{#if settings.faq}}       
            {{#each categories}}
              {{#is name 'Allgemein'}}
                {{#each sections}}
                  {{#is name 'FAQ'}}		
                    <li class="cx2022-blocks-item faq-block block_left">
                      <a href='{{url}}' class="cx2022-blocks-item-link">
                        <span class="cx2022-blocks-item-title">
                          {{name}}
                        </span>
                      </a>
                    </li>
                  {{/is}}
                {{/each}}
              {{/is}}
            {{/each}}
          {{/if}}
          
          <!-- Form 1 -->
          {{#if settings.form1_url}}
            <li class="cx2022-blocks-item form1-block block_left">
              <a href='{{settings.form1_url}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">
                    {{#is help_center.locale 'de'}}{{settings.form1_title}}{{/is}}
                    {{#is help_center.locale 'de-de'}}{{settings.form1_title}}{{/is}}
                    {{#is help_center.locale 'en-gb'}}{{settings.form1_title_en}}{{/is}}
                    {{#is help_center.locale 'en-us'}}{{settings.form1_title_en}}{{/is}}
                </span>
              </a>
            </li>
          {{/if}}
          
          <!-- Form 2 -->
          {{#if settings.form2_url}}
            <li class="cx2022-blocks-item form2-block block_left">
              <a href='{{settings.form2_url}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">
                    {{#is help_center.locale 'de'}}{{settings.form2_title}}{{/is}}
                    {{#is help_center.locale 'de-de'}}{{settings.form2_title}}{{/is}}
                    {{#is help_center.locale 'en-gb'}}{{settings.form2_title_en}}{{/is}}
                    {{#is help_center.locale 'en-us'}}{{settings.form2_title_en}}{{/is}}
                </span>
              </a>            
            </li>
          {{/if}}
          
          <!-- Book Appointment -->
          {{#if settings.book_appointment_url}}
            <li class="cx2022-blocks-item appointment-block block_left">
              <a href='{{settings.book_appointment_url}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">
                    {{#is help_center.locale 'de'}}{{settings.book_appointment_title}}{{/is}}
                    {{#is help_center.locale 'de-de'}}{{settings.book_appointment_title}}{{/is}}
                    {{#is help_center.locale 'en-gb'}}{{settings.book_appointment_title_en}}{{/is}}
                    {{#is help_center.locale 'en-us'}}{{settings.book_appointment_title_en}}{{/is}}                
                </span>
              </a>            
            </li>  
          {{/if}}
          
          <!-- Additional Entry --> 
          {{#if settings.additional_entry_url}}
            <li class="cx2022-blocks-item additional-entry-block block_left">
              <a href='{{settings.additional_entry_url}}' class="cx2022-blocks-item-link">
                <span class="cx2022-blocks-item-title">
                    {{#is help_center.locale 'de'}}{{settings.additional_entry_title}}{{/is}}
                    {{#is help_center.locale 'de-de'}}{{settings.additional_entry_title}}{{/is}}
                    {{#is help_center.locale 'en-gb'}}{{settings.additional_entry_title_en}}{{/is}}
                    {{#is help_center.locale 'en-us'}}{{settings.additional_entry_title_en}}{{/is}}  
                </span>
              </a>            
            </li>
          {{/if}}
        {{/if}}          
        </ul>
    </section>
  </section>    
</div>
